@model Radar_de_Competências.Models.UsersViewModels.DeleteViewModel
<h3>Deseja deletar esse usuário?</h3>
<div>
    <h4>Excluir usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>5
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="List">Voltar para a lista</a>
    </form>
</div>
