@using System.Collections.Generic;
@using RadarCompetencias.Models.UsersViewModels

@namespace RadarCompetencias
@model IEnumerable<ListViewModel>

@{
    ViewData["Title"] = "Usuários Cadastrados";
}

<h1>Usuários Cadastrados</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink(linkText:"Editar", actionName:"Edit", routeValues:new {id = item.Id }) | 
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
        }
    </tbody>
</table>
